<!-- Header Section Start -->
<div class="header_area" id="header_area">
    <div class="for_header_background">
        <img src="{{ asset('images/header_bg_shap.png', 'theme') }}" alt="header-background">
    </div>
    <div class="header_top_area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 text-right align-items-center for_middle">
                    <!-- Mobile menu start -->
                    <div class="responsive-menu-wrap"></div>
                    <!-- Mobile menu end -->

                    <!-- Main Menu -->
                    <div class="menu_area">
                        <ul id="main-menu">
                            <li><a href="#header_area">Home</a></li>
                            <li><a href="#about_area">À propos</a></li>
                            <li><a href="#portfolio_area">Projets</a></li>
                            <li><a href="#contact_area">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header Section End -->
